<ul>
  {{#each artist.similar}}
      <li class="artist-single">
        <img src="{{ this.image.big }}" alt="{{ this.name }}">
        <h2>{{this.name}}</h2>

        <button type="button" value="{{ this.name }}">Choose</button>
      </li>
  {{/each}}
</ul>
