<div class="discover">
  <div class="discover-images">
    <div class="discover-row_one">
      <img src="./images/travis.png" alt="travis scott">
      <img src="./images/one.png" alt="travis scott">
      <img src="./images/two.png" alt="travis scott">
      <img src="./images/three.png" alt="travis scott">
      <img src="./images/ten.png" alt="travis scott">
    </div>
    <div class="discover-row_two">
      <img src="./images/four.png" alt="travis scott">
      <img src="./images/five.png" alt="travis scott">
      <img src="./images/six.png" alt="travis scott">
      <img src="./images/seven.png" alt="travis scott">
      <img src="./images/eight.png" alt="travis scott">
      <img src="./images/nine.png" alt="travis scott">
    </div>
  </div>

  <div class="discover-content">
    <h1>Discover new artists</h1>
    <p>Search your favorite artist and get suggestions for it.
      Based on the suggested artists get new suggestions of them.
      Discover unlimited amount of new artists</p>

    <form action="/search-song" method="post">
      <label for="search"></label>
      <input type="text" name='artist' value="Drake">
      <button type="submit">Find</button>
    </form>
  </div>

  <div class="discover-example">
    <h3>Or fast discover these artists</h3>
    <ul>
      <li><a href="./similar/parmore">Paramore</a></li>
      <li><a href="./similar/drake">Drake</a></li>
      <li><a href="./similar/kanye west">Kanye west</a></li>
      <li><a href="./similar/Billie Eilish">Billie Eilish</a></li>
      <li><a href="./similar/post malone">Post malone</a></li>
    </ul>
  </div>
</div>