<div class="discover">
  <div class="discover-images">
    {{!-- 
    <div class="discover-row_one">
      <img src="./images/one.png" alt="travis scott">
      <img src="./images/eight.png" alt="travis scott">
      <img src="./images/five.png" alt="travis scott">
      <img src="./images/four.png" alt="travis scott">
      <img src="./images/seven.png" alt="travis scott">
    </div>
    <div class="discover-row_two">
      <img src="./images/six.png" alt="travis scott">
      <img src="./images/ten.png" alt="travis scott">
      <img src="./images/three.png" alt="travis scott">
      <img src="./images/two.png" alt="travis scott">
      <img src="./images/weekend.png" alt="travis scott">
    </div> --}}

    <div class="discover-row_one">
      <picture>
        <source type="image/webp" srcset="./images/travis.webp">
        <img alt="Travis" src="./images/travis.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/one.webp">
        <img alt="one" src="./images/one.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/two.webp">
        <img alt="two" src="./images/two.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/three.webp">
        <img alt="three" src="./images/three.png">
      </picture>

      <picture>
        <source type="image/webp" srcset="./images/ten.webp">
        <img alt="images" src="./images/ten.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/ten.webp">
        <img alt="ten" src="./images/ten.png">
      </picture>
    </div>

    <div class="discover-row_two">
      <picture>
        <source type="image/webp" srcset="./images/four.webp">
        <img alt="four" src="./images/four.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/five.webp">
        <img alt="five" src="./images/five.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/six.webp">
        <img alt="six" src="./images/six.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/seven.webp">
        <img alt="seven" src="./images/seven.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/eight.webp">
        <img alt="eight" src="./images/eight.png">
      </picture>
      <picture>
        <source type="image/webp" srcset="./images/nine.webp">
        <img alt="nine" src="./images/nine.png">
      </picture>

    </div>
  </div>

  <div class="discover-content">
    <h1>Discover new artists</h1>
    <p>Search your favorite artist and get suggestions for it.
      Based on the suggested artists get new suggestions of them.
      Discover unlimited amount of new artists</p>

    <form action="/search-song" method="post">
      <label for="search"></label>
      <input type="text" name='artist' value="Drake">
      <button type="submit">Find</button>
    </form>
  </div>

  <div class="discover-example">
    <h3>Or fast discover these artists</h3>
    <ul>
      <li><a href="./similar/parmore">Paramore</a></li>
      <li><a href="./similar/drake">Drake</a></li>
      <li><a href="./similar/kanye west">Kanye west</a></li>
      <li><a href="./similar/Billie Eilish">Billie Eilish</a></li>
      <li><a href="./similar/post malone">Post malone</a></li>
    </ul>
  </div>
</div>